body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    background-color: aquamarine;
    border-radius: 20px;
    padding: 40px;
}

.formdata{
    display: flex;
    flex-direction: column;

}